useDynLib(SC19036, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
export(ERM_genera)
export(fam_genera)
export(fam_relation)
export(geno_genera)
export(meanC)
export(rw.Metropolis)
export(rwishart)
import(microbenchmark)
import(MASS)
import(DAAG)
import(boot)
import(rgl)
import(bootstrap)
import(parallel)
importFrom(Rcpp,evalCpp)
importFrom(stats,rgamma)
importFrom(stats,rnorm)
